#heading {
    text-align: center; 
}

#news-section {
    margin-top: 2%;
    margin-bottom: 4%;
    align-content: center;
}

#news {
    background-color: #f9f9f9;
    padding: 30px;
    border: 2px solid #d1d2d2;
    border-radius: 5px;
    margin-bottom: 30px;
}

#news-title {
    text-align: center;
}
