#loginForm {
   
    border: 2px solid #d1d2d2;
    border-radius: 5px;
    padding: 20px;

    background-color: #f9f9f9;
}

#submitBtn {
    text-align: center;
}

#main {
    margin-top: 2%;
    /* margin-bottom: 8%; */
    width: 30%; 
    align-content: center;
}

#heading {
    text-align: center;
}

.warning {
    color: red;
}

