<!-- <app-dashboard></app-dashboard> -->
<!-- <app-admin-panel></app-admin-panel>
<app-news-section></app-news-section> -->
<!-- <app-login></app-login> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Covid19 Tracker</title>
</head>
<body>
    <app-header></app-header>   
    <router-outlet></router-outlet>
    <app-footer></app-footer>
</body>
</html>

