
<div id="precautions" class="container">
    <h3 id="heading">COVID-19 precautions</h3><br />
    <div id="content">
        <p>Protect yourself and others around you by knowing the facts and taking appropriate precautions. Follow advice provided by your local public health agency.</p><br />
        To prevent the spread of COVID-19:
        <ul>
            <li>Clean your hands often. Use soap and water, or an alcohol-based hand rub.</li>
            <li>Maintain a safe distance from anyone who is coughing or sneezing.</li>
            <li>Don’t touch your eyes, nose or mouth.</li>
            <li>Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.</li>
            <li>Stay home if you feel unwell.</li>
            <li>If you have a fever, a cough, and difficulty breathing, seek medical attention. Call in advance.</li>
            <li>Follow the directions of your local health authority.</li>
            <li>Avoiding unneeded visits to medical facilities allows healthcare systems to operate more effectively, therefore protecting you and others.</li>
        </ul>
        <br />
        <p>For more information, <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public">visit</a></p>
    </div>
</div>