<div id="main" class="container">
    <h3 id="heading">Add news details</h3><br />
    <div id="newsForm">
        <form [formGroup]="addNewsForm" (ngSubmit)="AddNews()">
            <div class="form-group">
                <label for="title">Title</label>
                <input type="text" formControlName="title" class="form-control"/>
                <div class="warning" *ngIf="addNewsForm.get('title').touched && addNewsForm.get('title').errors?.required">*Required Field</div>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <input type="text" formControlName="description" class="form-control"/>
                <div class="warning" *ngIf="addNewsForm.get('description').touched && addNewsForm.get('description').errors?.required">*Required Field</div>
            </div>
            <div class="form-group">
                <label for="summary">Summary</label>
                <textarea formControlName="summary" class="form-control" rows="4" cols="30"></textarea>
                <div class="warning" *ngIf="addNewsForm.get('summary').touched && addNewsForm.get('summary').errors?.required">*Required Field</div>
            </div>
            <div class="form-group">
                <label for="fullNews">Full News</label>
                <textarea formControlName="fullNews" class="form-control" rows="8" cols="30"></textarea>
                <div class="warning" *ngIf="addNewsForm.get('fullNews').touched && addNewsForm.get('fullNews').errors?.required">*Required Field</div>
            </div>
            <div id="submitBtn">
                <input type="submit" value="Submit" [disabled]="!addNewsForm.valid" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>