#main {
    margin-top: 2%;
    margin-bottom: 4%;
    width: 70%; 
   
    padding: 10px;
    align-content: center;
}

#heading {
    text-align: center; 
}

#submitBtn {
    text-align: center;
}

#newsForm {
    border: 2px solid #d1d2d2;
    border-radius: 5px;
    background-color: #f9f9f9;
    padding: 20px;
}

.warning {
    color: red;
}